body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    margin-top: 2rem;
    background-color: #ffffff;
    color: #003253;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header img {
    width: 70px;
}

header h1, header h2 {
    margin: 0;
    font-size: 2.2em;
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

h2 {
    color: #003253;
    margin-bottom: 15px;
}

.title {
    color: #003253;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

article {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

article p {
    color: #003253;
    line-height: 1.6;
}

article p i {
    color: #003253;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
  
    header img {
        width:50px;
        margin-bottom: 10px;
    }

    main {
        padding: 10px;
    }
}
