/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* verde claro */
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  
  .header {
    background-color: #ffffff; /* verde oscuro */
    color: #003253;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header img {
    width: 70px;
    height: auto;
    margin: 0 0 0 10px;
  }
  
  .header h1 {
    font-size: 2.2em;
    flex-grow: 1;
    margin: 0 10px 0 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
  }
  
  article {
    background-color: #ffffff; /* verde medio */
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 45%;
    box-sizing: border-box;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  article img {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  h2 {
    color: #003253; /* verde oscuro */
    margin-bottom: 15px;
  }
  
  footer {
    background-color: #003253; /* verde oscuro */
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
    }
  
    .header img {
      width: 50px;
      align-self: center;
      margin: 0;
    }
  
    .header h1 {
      margin: 0;
    }
  
    .container {
      padding: 10px;
    }
  
    article {
      width: 100%;
    }
  
    footer {
      padding: 1rem;
    }
  }
  
  @media (max-width: 600px) {
    article {
      margin-bottom: 20px;
    }
  }

  @media (max-width: 420px) {
    .header h1 {
        text-align: center;
        font-size: 2rem;
    }
  }
  