body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* verde claro */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}


.header {
  background-color: #ffffff; /* verde oscuro */
  color: #003253;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header img {
  width: 70px;
  height: 70px;
}

.header h1 {
  font-size: 2.2em;
  flex-grow: 1;
  margin: 0;
}

.img-title {
  margin-left: 20px;
  width: 10%;
}

.h-title {
  text-align: start;
  width: 90%;
  margin-left: 30px;
}

.title-text a {
  color: #005f00;
  text-decoration: none;
}

.h-title .title-text a:hover {
  color: #003253;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

section {
  background-color: #ffffff; /* verde medio */
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 29%;
  box-sizing: border-box;
  transition: all 0.3s ease;
  text-align: center;

}

section ul, section ol {
  list-style: none;
}

section li {
  margin: 5px;
}

section img {
  width: 80%;
  height: auto;
  border-radius: 15px;
}

section:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

section a {
  color: #005f00;
}

.col-1, .col-2 {
  width: 43%;
}
.col-4 {
  width: 91%;
}

.col-5 {
  width: 50%;
}

.col-3 {
  width: 90%;
}



h2 {
  color: #003253; /* verde oscuro */
  margin-bottom: 15px;
}
a{
  text-decoration: none;
}

li {
  margin-bottom: 6px;
}

article {
  margin-bottom: 20px;
  text-align: start;
}

p.title {
  font-weight: 600;
  color: #003253; /* verde oscuro */
  margin-bottom: 10px;
}

footer {
  background-color: #003253; /* verde oscuro */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

/* Para dispositivos con una anchura de hasta 768px */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .h-title {
    text-align: center;
    margin: 0;
  }

  .img-title {
    margin: 0;
  }

  section {
      width: 100%;
  }

  .col-5 {
    width: 90%;
  }
}

@media (max-width: 780px) {
  .col-1, .col-2, .col-3, .col-4, .col-5 {
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #ffffff;
  }

  .header {
    background-color: rgb(12, 12, 12);;
    color: #ffffff;
  }

  .header h1,
  h2,
  p.title {
    color: #ffffff;
  }
  
  section a, .title-text a {
    color: #83bd00;
  }

  .img-1 {
    display: none;
  }

  .h-title .title-text a:hover {
    color: #ffffff;
  }

  section:hover {
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  }

  section {
    background-color: rgb(12, 12, 12);
  }

  .col-5 {
    background-color: #000000;
  }

  footer {
    background-color: rgb(12, 12, 12);
    color: rgb(255, 255, 255);
  }
}
