body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #045c04;
  color: white;
  padding: 20px 0;
  text-align: center;
}

header img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 2.5em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

section {
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #888888;
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
}

h2 {
  color: #4c8d00;
}

article {
  margin-bottom: 20px;
}

li {
  padding-bottom: 9.3px;
}

p.title {
  font-weight: bold;
  color: #045c04;
}

footer {
  background-color: #045c04;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

/* Para dispositivos con una anchura de hasta 768px */
@media (max-width: 768px) {
  main {
      flex-direction: column;
      padding: 20px;
  }

  section {
      width: 100%;
      margin-bottom: 20px;
  }
}
