body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e8f5e9; /* verde claro */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.header {
  background-color: #2e7d32; /* verde oscuro */
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header img {
  width: 70px;
  height: 70px;
}

.header h1 {
  font-size: 2.2em;
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
}

section {
  background-color: #a5d6a7; /* verde medio */
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  padding: 20px;
  width: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

section:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
}

h2 {
  color: #2e7d32; /* verde oscuro */
  margin-bottom: 15px;
}
a{
  text-decoration: none;
}

li {
  margin-bottom: 6px;
}

article {
  margin-bottom: 20px;
}

p.title {
  font-weight: 600;
  color: #2e7d32; /* verde oscuro */
  margin-bottom: 10px;
}

footer {
  background-color: #2e7d32; /* verde oscuro */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

/* Para dispositivos con una anchura de hasta 768px */
@media (max-width: 768px) {
  section {
      width: 100%;
  }
}
