body {
    background-color: #f7f9fb;
    background-image: url('tejido-maya-pattern.jpg');
    background-repeat: repeat;
  }
  
  header {
    background-color: #0f3057;
    color: #fff;
  }
  
  a {
    color: #d62828;
  }
  
  /* Ejemplo de estilos para botones */
  .button {
    background-color: #d62828;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #0f3057;
  }

  
  